:root{
    --dark-color :#19283f;
    --green-color :#33d1cc;
    --red-color :#ff3150;
    --yellow-color :#ffc400;
    --section-color :#eff7fa;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 10000px;
}
.main-btn{
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}
.main-btn:hover{
    color: var(--dark-color);
    background-color: white;
}
/*Start Navbar*/
.navbar{
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link .active,
.navbar .navbar-nav .nav-link :focus,
.navbar .navbar-nav .nav-link :hover{
    color: var(--green-color);
}
.navbar .search{
    border-left: 1px solid var(--green-color);
}
.navbar .search svg{
    color: var(--green-color);
}
.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--green-color);
    background-color: var(--green-color);
}
/*ŸèEnd Navbar*/

/*Start Landing*/
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/*End Landing*/
